[buildout]
# Do not commit your changes, run
# git update-index --assume-unchanged buildout.cfg 
# To teach git to ignore changes to this file

extends=
    base.cfg
# Development tools
#    develop.cfg
# Plone.app.contenttypes
#    pac_buildout.cfg
