[buildout]
# use this buildout to get a plone without AT.

auto-checkout +=
    plone.app.contenttypes
# Autocomplete still imcompatible with jqueryui...
    plone.formwidget.autocomplete
    plone.formwidget.contenttree

[instance]
eggs += plone.app.contenttypes

[versions]
plone.app.collection = 2.0b4

